# Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Environment & secrets
.env
.env.*
application-local.yaml
application-local.properties
application-local.yml

# Logs
*.log
logs/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

TO_DO.md

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
/API_TESTING.md
/API_CALLS.md
README.md
/DOCS.md
/Postman Screenshots/
